# Ignore node_modules at both the root and back-end directories
node_modules
back-end/node_modules

# Ignore MacOS-specific .DS_Store files
.DS_Store

# Ignore environment files at both the root and back-end
.env
back-end/.env